/*Header*/
body{
    background-color: whitesmoke;
}

header{
    background-color: #9ec1cf41;
    padding: 20px 0;
}

.caja{
   width: 940px;
   position: relative;
   margin: 0 auto; 
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: lightblue;
    text-decoration: underline;
}

.presentacion{
    padding-left: 30px;
    font-size: 40px;
    margin: 3%;
    font-weight: bold;
}

.p{
    font-size: 20px;
    padding-left: 30px;
    margin: 3%;
   }

.redes{
    padding-left: 30px;
    margin: 3%;
    word-spacing: 15px;
}

.link-red{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.link-red:hover{
    color: lightblue;
}





.fotoPerfil{
    width: 15%;
    border-radius: 40%;
   
}

.fotoPerfil:hover{
    width: 20%;
    border-radius: 50%;
    cursor: pointer;
 
}

.sobre-mi{
    text-align: center;
    background-color: #9ec1cf41;
   
}


.firma-imagen{
    justify-content: center;
}

.descripcion{
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    margin: 3%;
}

.titulo{
    margin-top: 3%;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}


.hobbies{
    text-align: center;
}

.icons{
    display: inline-block;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}


.formacion{
    width: 100%;
    justify-content: center;
    display: flex;
   
}

.experiencia{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 3%;
}

.logos{
    display: flex;
}

.repos{
    display:inline;
    padding-right:10px;
}
    
button, .enviar{
    background-color: #2a7ae4;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;

    position: static;
    width: 1440px;
    height: 300px;
    left: 0px;
    top: 0px;
}

.margen{
    margin-top: 2%;
}

#contacto{
    font-weight: bold;
    font-size: 25px;
}

/*footer*/

.contenido_footer{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    color:#000000;
    
}

.contenido_footer p{
    display: block;
    padding: 5px 0;
    
} 

.footer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 37px;

   position: static;
   width: 1440px;
   height: 102px;
   left: 0px;
   top: 788px;

}


/*responsive*/

